<!DOCTYPE html>
<html>
<head>
  <title>Second</title>
  
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%unless current_user.present?%>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%else%>
<%=link_to 'Logout',destroy_user_session_path,method: :delete,:class=>"welcome_button"%> 
<%end%>
<%= yield %>

</body>
</html>

